force-app/main/default/flows/tShowRecordId.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>From_Pre_Reservation_to_Reservation</name>
        <label>From Pre-Reservation to Reservation</label>
        <locationX>224</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>Get_Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReservationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pre_Reservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>From_Reservation_to_Pre_Reservation</name>
        <label>From Reservation to Pre-Reservation</label>
        <locationX>570</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>Get_Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pre_Reservation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pre_Reservation</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PreReservationId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0122v000002GogMAAS</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0122v000002HTgiAAG</stringValue>
        </value>
    </constants>
    <decisions>
        <name>How_to_Change</name>
        <label>How to Change</label>
        <locationX>393</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>From_Reservation_to_Pre_Reservation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HowtoChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PreReservationId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>From_Pre_Reservation_to_Reservation</targetReference>
            </connector>
            <label>to Reservation</label>
        </rules>
    </decisions>
    <decisions>
        <name>NotEmpty</name>
        <label>NotEmpty</label>
        <locationX>413</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>How_to_Change</targetReference>
            </connector>
            <label>NoEmpty</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Reserv</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Reservation__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>tShowRecordId {!$Flow.CurrentDateTime}</interviewLabel>
    <label>tShowRecordId</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Record</name>
        <label>Get Record</label>
        <locationX>286</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NotEmpty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reservation__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Pre_Reservation</name>
        <label>Update Record Type</label>
        <locationX>365</locationX>
        <locationY>454</locationY>
        <inputReference>Get_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>wedc</name>
        <label>wedc</label>
        <locationX>44</locationX>
        <locationY>282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Record</targetReference>
        </connector>
        <fields>
            <name>ShowId</name>
            <fieldText>&lt;p&gt;{!recordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>121</locationY>
        <connector>
            <targetReference>wedc</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReservationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
